body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

.fun-text {
    color: black;
    font-weight: bold;
    text-align: center;
    font-size: 75px;
}
a {
    text-decoration: none;
    color: blue;
    font-weight: bold;
}

a:hover {
    color: red;
}

#important-warning {
    color: red;
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
}
#special-link {
    background-color: rgb(255, 184, 126);
    color: black;
    font-size: 15px;
    padding: 5px;
}
